input,
select,
textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 8px;
}
button {
    cursor: pointer;
}
label,
legend {
    display: block;
    font-size: 14px;
}
fieldset {
    border-radius: 4px;
    margin: 0;
    border: 1px solid #767676;
}

/* 커스텀 */
#loggedUser {
    word-break: break-all;
}
.form {
    max-width: 400px;
    /* margin: auto; */
    /* padding: 16px; */
    /* border: 1px solid #ccc; */
    /* border-radius: 8px; */
    /* background-color: #f9f9f9; */
}
.checkbox-input {
    display: flex;
    align-items: center;
    gap: 4px;
}
.checkbox-input input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin-right: 4px;
}
.radio-input-label {
    display: flex;
    align-items: center;
    gap: 4px;
}
.radio-input-label input[type="radio"] {
    display: inline-block;
    width: auto;
}
